/* Google fonts */

@import url("https://fonts.googleapis.com/css2?family=Baumans&family=Savate:ital,wght@0,200..900;1,200..900&display=swap");

/* CSS Variables */

:root {
  --heading-font: "Baumans", sans-serif;
  --secondary-font: "Savate", sans-serif;
  --background-color: #0a090c; /* Night */
  --primary-color: #b66d0d; /* Tiger's Eye */
  --secondary-color: #eae6e5; /* Platinum */
  --highlight-color: #0000e1; /* Chrysler blue */
  --highlight-color-light: #7392b7; /* Silver lake blue */
}

/* Global Styles */

body {
  background-color: var(--background-color);
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  padding-top: 100px;
}

#heading-style {
  font-family: var(--heading-font) !important;
  color: var(--primary-color) !important;
  size: 1.2rem;
}

h1,
h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
  text-align: center;
}

/* Navbar Styles */

/* Navbar text styles */
#nav-bar,
#nav-bar .navbar-nav .nav-link,
#nav-bar .navbar-brand {
  color: var(--primary-color) !important; /* Apply color to all navbar text */
  font-family: var(--heading-font);
  font-size: 1.75rem;
  margin-bottom: -25px;
}

/* Change background of navbar */
#nav-bar.bg-body-tertiary {
  background-color: var(--secondary-color) !important;
}

/* Navbar logo styles */
.navbar-brand img {
  width: 100px;
  height: auto;
}
