/* Google fonts */

@import url("https://fonts.googleapis.com/css2?family=Baumans&family=Savate:ital,wght@0,200..900;1,200..900&display=swap");

/* CSS Variables */

:root {
    --heading-font: "Baumans", sans-serif;
    --secondary-font: "Savate", sans-serif;
    --background-color: #0A090C; /* Night */
    --primary-color: #B66D0D; /* Tiger's Eye */
    --secondary-color: #EAE6E5; /* Platinum */
    --highlight-color: #0000E1; /* Chrysler blue */
    --highlight-color-light: #7392B7; /* Silver lake blue */
}

/* Global Styles */

body { 
    background-color: var(--background-color);
    font-family: var(--secondary-font);
    color: var(--secondary-color);
}

#heading-style {
    font-family: var(--heading-font);
    color: var(--primary-color);
    size: 1.2rem;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

/* Navbar Styles */

/* Apply color to all navbar text */
#heading-style,
#heading-style .navbar-nav .nav-link,
#heading-style .navbar-brand {
    color: var(--primary-color) !important;
}