/* Google fonts */

@import url("https://fonts.googleapis.com/css2?family=Baumans&family=Savate:ital,wght@0,200..900;1,200..900&display=swap");

/* CSS Variables */

:root {
  --heading-font: "Baumans", sans-serif;
  --secondary-font: "Savate", sans-serif;
  --background-color: #0a090c; /* Night */
  --primary-color: #b66d0d; /* Tiger's Eye */
  --secondary-color: #eae6e5; /* Platinum */
  --highlight-color: #0000e1; /* Chrysler blue */
  --highlight-color-light: #7392b7; /* Silver lake blue */
}

/* Global Styles */

body {
  background-color: var(--background-color); /* Sets the background color */
  font-family: var(
    --secondary-font
  ); /* Sets the secondary font as default font for the body */
  color: var(--secondary-color); /* Sets the text color */
}

#heading-style {
  font-family: var(--heading-font) !important;
  color: var(--primary-color) !important;
  size: 1.2rem;
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading-font);
  color: var(--primary-color);
  text-align: center;
}

/* Navbar Styles */

/* Navbar text styles */
#nav-bar,
#nav-bar .navbar-nav .nav-link,
#nav-bar .navbar-brand {
  color: var(--primary-color) !important; /* Apply color to all navbar text */
  font-family: var(--heading-font); /* Apply heading font to navbar text */
  font-size: 1.75rem; /* Set font size for navbar text */
  margin-bottom: -25px; /* Adjusts the spacing between navbar items */
  text-transform: uppercase; /* Makes navbar text uppercase */
}

/* Change background of navbar */
#nav-bar.bg-body-tertiary {
  background-color: var(--secondary-color) !important;
}

/* Navbar logo styles */
.navbar-brand img {
  width: 100px;
  height: auto;
}

/* Main section styles */

main {
  margin-top: 200px;
}

/* Biography Section Styles */

#biography {
  margin-bottom: 100px; /* Adds space below the biography section */
}

/* Biography Content Styles */
.biography-content img {
  width: 100%;
  height: auto;
}

.biography-content p {
  margin-top: 40px; /* Adds space between the image and the first paragraph */
  margin-bottom: 40px; /* Adds space between the last paragraph and the next section */
  font-size: 1.2rem;
}

/* discography Section Styles */
#discography {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

#discography,
#discography .discography-content,
#discography .discography-content p {
  margin-top: 35px; /* Adds space between the discography title and content */
}

.discography-links {
  display: flex;
  flex-direction: row;
  gap: 25px; /* Space between links */
  flex-wrap: wrap;
  margin-top: 10px;
}

/* Gallery Section Styles */
#gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 700px; /* slightly larger than carousel for stability */
  margin-top: 200px; /* Adds space above the gallery section */
  margin-bottom: 100px; /* Adds space below the gallery section */
}
/* Gallery Images */
.gallery-carousel {
  margin-top: 50px; /* Adds space above the gallery carousel */
}

.carousel-inner {
  height: 600px; /* Sets a fixed height for the carousel */
}
.carousel-item {
  height: 100%; /* Ensures each carousel item takes full height */
}
.carousel-item img {
  width: 100%; /* Makes images responsive */
  height: 100%; /* Ensures images fill the carousel item */
  object-fit: cover; /* Maintains aspect ratio while covering the area */
  display:block; /* Ensures images are displayed as block elements */
}

.gallery-video {
  margin-top: 150px;
}

/* Contact Section Styles */
.form-container {
  max-width: 600px;
  margin: 0 auto; /* Centers the form */
}

.booking-form {
  width: 100%;
  display: block;
  border: none;
}

/* Media Queries */
/* Adjust styles for different screen sizes */

/* Medium devices (tablets 768px and up */
@media (min-width: 768px) {
  /* Biography Section Styles */
  .biography-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  /* Moves the biography paragraphs to the right */
  .biography-paragraph {
    margin-left: 20px;
  }

  /* Adjusts the image size and position */
  .biography-content img {
    width: 40%;
    margin: 100px 0 90px 0;
  }

  /* Discography Section Styles */
  /* Adjusts the discography section to be more responsive */
  .spotify-player {
    width: 50rem;
  }

  /* Gallery Section Styles */
  #gallery {
    min-height: 500px; /* Adjusts the height of carousel */
  }
  
  .carousel-inner {
    height: 450px
  }
}

/* Large devices (desktops 992px and up) */
@media (min-width: 992px) {
  /* Discography Section Styles */
  /* Adjusts the discography section to be more responsive */
  .spotify-player {
    width: 50rem;
  }

  /* Gallery Section Styles */
  #gallery {
    min-height: 600px; /* Adjusts the height of carousel */
  }
  .carousel-inner {
    height: 500px;
  }
}
